.logoContainer {
  width: fit-content;
  border-left: 6px solid var(--accent-color);
  border-right: 6px solid var(--accent-color);
  border-radius: 50%;
  background-color: rgba(199, 193, 193, 0.069);
  padding: 0 0.5rem;
}
.logoContainer h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  letter-spacing: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}
h2 > span {
  color: var(--accent-color);
  font-family: 'Playfair Display', serif;
}
