.hero-container {
  min-width: 100vw;
  height: 90vh;
  /* max-width: 1080px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: url('https://images.pexels.com/photos/414548/pexels-photo-414548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.hero-container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.592);
  z-index: 1;
}

.hero-info {
  min-width: 450px;
  max-width: 50%;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 4px 6px 20px 0px rgba(41, 40, 40, 0.713);
  padding: 2rem;
  box-sizing: border-box;
  z-index: 2;
  text-align: left;
}
.hero-container h1 {
  margin-top: -1rem;
  border: none;
  margin-left: 0;
  border-bottom: 4px solid var(--accent-color);
}
@media screen and (min-width: 900px) {
  .hero-info {
    margin-top: 6rem;
    transform: scale(1.25);
    margin-left: 8rem;
  }
}
@media screen and (max-width: 450px) {
  .hero-info {
    min-width: 95vw;
    margin: auto;
  }
}
