.wishlistContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0px 2px 16px 0px rgba(29, 29, 29, 0.262);
  padding: 1rem;
}
.wishlistItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(105, 93, 93, 0.22);
  margin: 0.5rem auto;
  padding: 1rem;
  width: 450px;
}
.wishlistImg {
  width: 80px;

  height: 80px;
  overflow: hidden;
}
.wishlistImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wishlistContainer h6 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-on-main-background);
  transition: 0.3s all linear;
  text-decoration: underline;
}
.wishlistContainer h6:hover {
  color: var(--accent-color);
}
.wishlistContainer h3 {
  margin: 0;
  padding: 0;
  color: var(--text-on-main-background);
  font-weight: 700;
}
.info {
  max-width: 300px;

  margin: 0.5rem 0 0 1.5rem;
}
.deleteItem {
  margin-left: auto;
  cursor: pointer;
}
.wishlistContainer button {
  margin-top: 1rem;
}
@media screen and (max-width: 550px) {
  .wishlistItem {
    width: 90vw;
    margin: 0.5rem auto;

    padding: 0.5rem;
    box-sizing: border-box;
  }
  h6 {
    font-size: 14px;
  }
  .info {
    max-width: 250px;
  }
}
