.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailProductContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 12px -6px rgb(131, 130, 124);
}
.imgConatiner {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  position: relative;
}

.imgConatiner img {
  width: 100%;
}
.detailProductInfo {
  margin-left: 3rem;
  max-width: 500px;
}
.detailProductInfo p {
  line-height: 1.5rem;
}
.ratingContainer {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  height: 40px;
  margin-top: 1rem;
  padding: 0 1rem 0 0;
}
.ratingContainer p {
  margin-left: auto;
  font-weight: 800;
  font-size: 2rem;
  color: var(--accent-color);

  padding: 0;
}

.ratingStars {
  margin: 0 0.2rem;
}

.starFill {
  fill: var(--star-rating);
  color: var(--star-rating);
}
.starEmpty {
  color: var(--star-rating);
}
.ratingCount {
  margin: 0 1.5rem;
  font-weight: 500;
  color: var(--text-on-main-background);
  margin-left: 0;
}
.heartContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.heartContainer > .link {
  transform: scale(1.2);

  display: flex;
  width: 40px;
}

/* .counterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 12px -4px rgb(195, 189, 189);
  height: 30px;
  width: 140px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.counterContainer p {
  font-weight: 600;
}
.counterContainer svg {
  margin: 0;
} */
@media screen and (max-width: 900px) {
  .detailProductContainer {
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  .detailProductInfo {
    margin-top: 2rem;
  }
  .detailProductInfo p {
    line-height: 1.5rem;
    text-align: justify;
  }
  .ratingContainer {
    margin-top: 0.5rem;
  }
}
