.checkout-main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1040px;
  margin: 2rem auto 0 auto;
  max-width: 1040px;
  padding: 1rem;
  min-height: 100vh;
}
@media screen and (max-width: 800px) {
  .checkout-main-container {
    flex-direction: column;
  }
}
