@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600;700&family=Montserrat:wght@300;400;500&family=Nanum+Myeongjo:wght@400;700;800&family=Nunito:wght@400;500;600;700&family=Playfair+Display:wght@600;700;800&display=swap');
/* styles.css */

:root {
  /* Primary Colors */
  --main-background: #f5f5f5;
  --text-on-main-background: #333333;
  --accent-color: #e83e8c;

  /* Secondary Colors */
  --neutral-background: #ffffff;
  --subtle-text: #888888;
  --borders-and-separators: #dddddd;
  --sale-discount-color: #ff5733;
  --star-rating: #ffa534;

  /* Button Colors */
  --primary-button-background: var(--accent-color);
  --primary-button-text: #ffffff;
  --secondary-button-background: #ffffff;
  --secondary-button-text: var(--accent-color);
  --disabled-button-background: #dddddd;
  --disabled-button-text: #888888;

  /* Heading Colors */
  --h1-color: var(--text-on-main-background);
  --h2-color: var(--text-on-main-background);
  --h3-color: var(--text-on-main-background);

  /* Link Colors */
  --link-color: var(--accent-color);
  --link-hover-color: #ff5733;
  /* spacings */
  --standard-padding: 16px;
  --standard-margin: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, '' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-background);
}
/* styles.css */

/* Heading 1 (H1) */
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--text-on-main-background);
  border-bottom: 4px solid var(--accent-color);
  width: fit-content;
}

/* Heading 2 (H2) */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-on-main-background);
}

/* Heading 3 (H3) */
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--text-on-main-background); /* Semi-Bold */
  /* Regular */
}

/* Body Text */
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
svg {
  width: 24px;
  height: 24px;
  color: var(--accent-color);
  cursor: pointer;
  /* margin-right: -30px; */
}
ul {
  display: flex;
  list-style: none;
}
li {
  margin: 0 var(--standard-margin);
  font-size: 20px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover,
svg:hover {
  color: var(--link-hover-color);
  transition: 0.3s all ease;
}
.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600; /* Semi-Bold */
  border-radius: 2px;
}
/* styles.css */

/* Primary Button */
.primary-button {
  width: 180px;
  min-width: fit-content;
  height: 40px;
  background-color: var(--primary-button-background);
  color: var(--primary-button-text);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600; /* Semi-Bold */
  border: none;
  cursor: pointer;

  transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

.primary-button:hover {
  background-color: #ff5733; /* Slightly darker color on hover */
  color: #ffffff; /* White text on hover */
}

/* Secondary Button */
.secondary-button {
  width: 180px;
  height: 40px;
  background-color: var(--secondary-button-background);
  color: var(--secondary-button-text);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600; /* Semi-Bold */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

.secondary-button:hover {
  background-color: var(--accent-color); /* Accent color on hover */
  color: #ffffff; /* White text on hover */
}

/* Disabled Button */
.disabled-button {
  width: 180px;
  height: 40px;
  background-color: var(--disabled-button-background);
  color: var(--disabled-button-text);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  cursor: not-allowed;
}

.app__main-headings {
  font-family: 'Playfair Display', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.initial-loading {
  background-color: rgba(0, 0, 0, 0.713);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile Phones */
@media (max-width: 600px) {
  /* Adjust styles for small screens here */
  .primary-button,
  .secondary-button,
  .disabled-button {
    width: 100%; /* Full width on small screens */
  }
}

/* Tablets and Small Laptops */
@media (min-width: 601px) and (max-width: 1024px) {
  /* Adjust styles for medium-sized screens here */
  .primary-button,
  .secondary-button,
  .disabled-button {
    min-width: fit-content;
    width: 50%; /* Half width on medium screens */
  }
}

/* Large Laptops and Desktops */
@media (min-width: 1025px) {
  /* Styles for large screens remain the same as defaults */
}

/* Padding and Margin Usage */

/* Example Usage of Padding and Margin Variables */
.element-with-padding {
  padding: var(--standard-padding);
}

.element-with-margin {
  margin: var(--standard-margin);
}
